body {
    background-color: #375a7f;
    margin-bottom: 5%;
    margin-top: 2%;
}
.navbar .form-group{
  margin-top: .5em;
}
.navbar {
  background-color: #eee;
}

.ag-header-cell {
  text-align: left;
}

.ag-bootstrap .ag-row-odd.ag-row-selected,
.ag-bootstrap .ag-row-even.ag-row-selected {
  background-color: #51bac8;
}

.ag-bootstrap .ag-row-odd {
  background-color: #c9d8e8;
}
.ag-bootstrap .ag-row-even {
  background-color: #f6f6f6;
}

.ag-bootstrap .ag-body {
  background-color: inherit;
}
.well .form-inline .form-control {
  max-width: 190px;
}
.form-inline .form-control.width-400 {
  width:400px;
}
